<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Seq</key>
		<integer>1001</integer>
		<key>picarray</key>
		<array>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1001_pic1.jpg</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>TDMovieView</string>
				<key>parameter</key>
				<dict>
					<key>x</key>
					<string>550</string>
					<key>y</key>
					<string>135</string>
					<key>url</key>
					<string>佐竹+成片+05+有水印.mp4</string>
				</dict>
			</dict>
		</array>
		<key>btchina_x</key>
		<integer>160</integer>
		<key>btchina_y</key>
		<integer>250</integer>
		<key>scrollH1</key>
		<string>160</string>
	</dict>
	<dict>
		<key>Seq</key>
		<integer>1002</integer>
		<key>picarray</key>
		<array>
			<dict>
				<key>class</key>
				<string>YXChangeView</string>
				<key>parameter</key>
				<dict>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>0</string>
					<key>array</key>
					<array>
						<dict>
							<key>thumb</key>
							<string>detail_p1002_thumb1.png</string>
							<key>image</key>
							<string>detail_p1002_pic1.jpg</string>
						</dict>
						<dict>
							<key>thumb</key>
							<string>detail_p1002_thumb2.png</string>
							<key>image</key>
							<string>detail_p1002_pic2.jpg</string>
						</dict>
					</array>
					<key>btX</key>
					<string>740</string>
					<key>btY</key>
					<string>15</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Seq</key>
		<integer>1003</integer>
		<key>picarray</key>
		<array>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1003_pic1.jpg</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>0</string>
				</dict>
			</dict>
		</array>
		<key>btchina_x</key>
		<integer>150</integer>
		<key>btchina_y</key>
		<integer>245</integer>
		<key>btchina_x2</key>
		<integer>150</integer>
		<key>btchina_y2</key>
		<integer>530</integer>
		<key>distance</key>
		<string>10</string>
		<key>distance2</key>
		<string>10</string>
	</dict>
	<dict>
		<key>Seq</key>
		<integer>1004</integer>
		<key>picarray</key>
		<array>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1004_pic1.jpg</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>TDPhotoWall</string>
				<key>parameter</key>
				<dict>
					<key>rope</key>
					<string>detail_p1004_rope.png</string>
					<key>ropeY</key>
					<string>85</string>
					<key>clip</key>
					<string>detail_p1004_clip.png</string>
					<key>clipY</key>
					<string>70</string>
					<key>clipX</key>
					<string>140</string>
					<key>picarray</key>
					<array>
						<dict>
							<key>x</key>
							<string>75</string>
							<key>y</key>
							<string>168</string>
							<key>pic</key>
							<string>detail_p1004_pic2.png</string>
							<key>angle</key>
							<string>-10.5</string>
							<key>bigpic</key>
							<string>detail_p1004_pic2_big.jpg</string>
						</dict>
						<dict>
							<key>x</key>
							<string>420</string>
							<key>y</key>
							<string>180</string>
							<key>pic</key>
							<string>detail_p1004_pic3.png</string>
							<key>bigpic</key>
							<string>detail_p1004_pic3_big.jpg</string>
						</dict>
						<dict>
							<key>x</key>
							<string>890</string>
							<key>y</key>
							<string>215</string>
							<key>pic</key>
							<string>detail_p1004_pic4.png</string>
							<key>angle</key>
							<string>-10.0</string>
							<key>bigpic</key>
							<string>detail_p1004_pic4_big.jpg</string>
						</dict>
						<dict>
							<key>x</key>
							<string>1240</string>
							<key>y</key>
							<string>203</string>
							<key>pic</key>
							<string>detail_p1004_pic5.png</string>
							<key>angle</key>
							<string>8.0</string>
							<key>bigpic</key>
							<string>detail_p1004_pic5_big.jpg</string>
						</dict>
						<dict>
							<key>x</key>
							<string>1760</string>
							<key>y</key>
							<string>165</string>
							<key>pic</key>
							<string>detail_p1004_pic6.png</string>
							<key>angle</key>
							<string>-8.0</string>
							<key>z</key>
							<string>-1</string>
							<key>bigpic</key>
							<string>detail_p1004_pic6_big.jpg</string>
						</dict>
						<dict>
							<key>x</key>
							<string>1870</string>
							<key>y</key>
							<string>350</string>
							<key>pic</key>
							<string>detail_p1004_pic7.png</string>
							<key>angle</key>
							<string>5.0</string>
							<key>bigpic</key>
							<string>detail_p1004_pic7_big.jpg</string>
						</dict>
						<dict>
							<key>x</key>
							<string>2170</string>
							<key>y</key>
							<string>130</string>
							<key>pic</key>
							<string>detail_p1004_pic8.png</string>
							<key>angle</key>
							<string>-3.0</string>
							<key>bigpic</key>
							<string>detail_p1004_pic8_big.jpg</string>
						</dict>
						<dict>
							<key>x</key>
							<string>2644</string>
							<key>y</key>
							<string>165</string>
							<key>pic</key>
							<string>detail_p1004_pic9.png</string>
							<key>angle</key>
							<string>9.5</string>
							<key>bigpic</key>
							<string>detail_p1004_pic9_big.jpg</string>
						</dict>
						<dict>
							<key>x</key>
							<string>3220</string>
							<key>y</key>
							<string>140</string>
							<key>pic</key>
							<string>detail_p1004_pic10.png</string>
							<key>angle</key>
							<string>-2.4</string>
							<key>bigpic</key>
							<string>detail_p1004_pic10_big.jpg</string>
						</dict>
						<dict>
							<key>x</key>
							<string>3722</string>
							<key>y</key>
							<string>191</string>
							<key>pic</key>
							<string>detail_p1004_pic11.png</string>
							<key>angle</key>
							<string>11.5</string>
							<key>bigpic</key>
							<string>detail_p1004_pic11_big.jpg</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Seq</key>
		<real>1005</real>
		<key>picarray</key>
		<array>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1005_pic1.jpg</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1005_pic2.png</string>
					<key>x</key>
					<string>39</string>
					<key>y</key>
					<string>360</string>
					<key>event</key>
					<dict>
						<key>class</key>
						<string>PicturesAtias</string>
						<key>notip</key>
						<string></string>
						<key>parameter</key>
						<dict>
							<key>oldX</key>
							<string>39</string>
							<key>oldY</key>
							<string>360</string>
							<key>oldW</key>
							<string>189</string>
							<key>oldH</key>
							<string>189</string>
							<key>image_prefix</key>
							<string>detail_p1005_pic2_tip%d.jpg</string>
							<key>image_num</key>
							<string>15</string>
							<key>smalls</key>
							<string>detail_p1005_pic2_tip%d_small.jpg</string>
						</dict>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1005_pic3.png</string>
					<key>x</key>
					<string>224</string>
					<key>y</key>
					<string>475</string>
					<key>event</key>
					<dict>
						<key>class</key>
						<string>PicturesAtias</string>
						<key>notip</key>
						<string></string>
						<key>parameter</key>
						<dict>
							<key>oldX</key>
							<string>224</string>
							<key>oldY</key>
							<string>475</string>
							<key>oldW</key>
							<string>370</string>
							<key>oldH</key>
							<string>374</string>
							<key>image_prefix</key>
							<string>detail_p1005_pic3_tip%d.jpg</string>
							<key>image_num</key>
							<string>20</string>
							<key>smalls</key>
							<string>detail_p1005_pic3_tip%d_small.jpg</string>
						</dict>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1005_pic4.png</string>
					<key>x</key>
					<string>290</string>
					<key>y</key>
					<string>250</string>
					<key>event</key>
					<dict>
						<key>class</key>
						<string>PicturesAtias</string>
						<key>notip</key>
						<string></string>
						<key>parameter</key>
						<dict>
							<key>oldX</key>
							<string>290</string>
							<key>oldY</key>
							<string>250</string>
							<key>oldW</key>
							<string>428</string>
							<key>oldH</key>
							<string>430</string>
							<key>image_prefix</key>
							<string>detail_p1005_pic4_tip%d.jpg</string>
							<key>image_num</key>
							<string>9</string>
							<key>smalls</key>
							<string>detail_p1005_pic4_tip%d_small.jpg</string>
						</dict>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1005_pic5.png</string>
					<key>x</key>
					<string>520</string>
					<key>y</key>
					<string>354</string>
					<key>event</key>
					<dict>
						<key>class</key>
						<string>PicturesAtias</string>
						<key>notip</key>
						<string></string>
						<key>parameter</key>
						<dict>
							<key>oldX</key>
							<string>520</string>
							<key>oldY</key>
							<string>354</string>
							<key>oldW</key>
							<string>176</string>
							<key>oldH</key>
							<string>176</string>
							<key>image_prefix</key>
							<string>detail_p1005_pic5_tip%d.jpg</string>
							<key>image_num</key>
							<string>12</string>
							<key>smalls</key>
							<string>detail_p1005_pic5_tip%d_small.jpg</string>
						</dict>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1005_pic6.png</string>
					<key>x</key>
					<string>695</string>
					<key>y</key>
					<string>415</string>
					<key>event</key>
					<dict>
						<key>class</key>
						<string>PicturesAtias</string>
						<key>notip</key>
						<string></string>
						<key>parameter</key>
						<dict>
							<key>oldX</key>
							<string>695</string>
							<key>oldY</key>
							<string>415</string>
							<key>oldW</key>
							<string>193</string>
							<key>oldH</key>
							<string>193</string>
							<key>image_prefix</key>
							<string>detail_p1005_pic7_tip%d.jpg</string>
							<key>image_num</key>
							<string>23</string>
							<key>smalls</key>
							<string>detail_p1005_pic7_tip%d_small.jpg</string>
						</dict>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1005_pic7.png</string>
					<key>x</key>
					<string>719</string>
					<key>y</key>
					<string>126</string>
					<key>event</key>
					<dict>
						<key>class</key>
						<string>PicturesAtias</string>
						<key>notip</key>
						<string></string>
						<key>parameter</key>
						<dict>
							<key>oldX</key>
							<string>719</string>
							<key>oldY</key>
							<string>126</string>
							<key>oldW</key>
							<string>257</string>
							<key>oldH</key>
							<string>263</string>
							<key>image_prefix</key>
							<string>detail_p1005_pic6_tip%d.jpg</string>
							<key>image_num</key>
							<string>24</string>
							<key>smalls</key>
							<string>detail_p1005_pic6_tip%d_small.jpg</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Seq</key>
		<real>1006</real>
		<key>picarray</key>
		<array>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1006_pic1.jpg</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1006_pic2.png</string>
					<key>x</key>
					<string>215</string>
					<key>y</key>
					<string>325</string>
					<key>event</key>
					<dict>
						<key>class</key>
						<string>PicturesAtias</string>
						<key>notip</key>
						<string></string>
						<key>parameter</key>
						<dict>
							<key>oldX</key>
							<string>215</string>
							<key>oldY</key>
							<string>325</string>
							<key>oldW</key>
							<string>325</string>
							<key>oldH</key>
							<string>329</string>
							<key>image_prefix</key>
							<string>detail_p1006_pic2_tip%d.jpg</string>
							<key>image_num</key>
							<string>18</string>
							<key>smalls</key>
							<string>detail_p1006_pic2_tip%d_small.jpg</string>
						</dict>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1006_pic3.png</string>
					<key>x</key>
					<string>680</string>
					<key>y</key>
					<string>123</string>
					<key>event</key>
					<dict>
						<key>class</key>
						<string>PicturesAtias</string>
						<key>notip</key>
						<string></string>
						<key>parameter</key>
						<dict>
							<key>oldX</key>
							<string>680</string>
							<key>oldY</key>
							<string>123</string>
							<key>oldW</key>
							<string>262</string>
							<key>oldH</key>
							<string>254</string>
							<key>image_prefix</key>
							<string>detail_p1006_pic3_tip%d.jpg</string>
							<key>image_num</key>
							<string>18</string>
							<key>smalls</key>
							<string>detail_p1006_pic3_tip%d_small.jpg</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Seq</key>
		<real>1007</real>
		<key>picarray</key>
		<array>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1007_pic1.jpg</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>0</string>
				</dict>
			</dict>
		</array>
		<key>btchina_x</key>
		<integer>407</integer>
		<key>btchina_y</key>
		<integer>68</integer>
		<key>distance</key>
		<string>10</string>
	</dict>
	<dict>
		<key>Seq</key>
		<real>1008</real>
		<key>picarray</key>
		<array>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1008_pic1.jpg</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>0</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Seq</key>
		<real>1009</real>
		<key>picarray</key>
		<array>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1009_pic1.jpg</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>0</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Seq</key>
		<real>1010</real>
		<key>picarray</key>
		<array>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1010_pic1.jpg</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>0</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Seq</key>
		<real>1011</real>
		<key>picarray</key>
		<array>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1011_pic1.jpg</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>YXPopupView</string>
				<key>parameter</key>
				<dict>
					<key>background</key>
					<string>detail_p1011_content_bg.png</string>
					<key>button</key>
					<string>detail_p1011_button.png</string>
					<key>x</key>
					<string>830</string>
					<key>y</key>
					<string>430</string>
					<key>content</key>
					<string>华东.png</string>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>YXPopupView</string>
				<key>parameter</key>
				<dict>
					<key>background</key>
					<string>detail_p1011_content_bg.png</string>
					<key>button</key>
					<string>detail_p1011_button.png</string>
					<key>x</key>
					<string>811</string>
					<key>y</key>
					<string>153</string>
					<key>content</key>
					<string>华北.png</string>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>YXPopupView</string>
				<key>parameter</key>
				<dict>
					<key>background</key>
					<string>detail_p1011_content_bg.png</string>
					<key>button</key>
					<string>detail_p1011_button.png</string>
					<key>x</key>
					<string>718</string>
					<key>y</key>
					<string>579</string>
					<key>content</key>
					<string>华南.png</string>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>YXPopupView</string>
				<key>parameter</key>
				<dict>
					<key>background</key>
					<string>华中.png</string>
					<key>button</key>
					<string>detail_p1011_button.png</string>
					<key>x</key>
					<string>580</string>
					<key>y</key>
					<string>466</string>
					<key>content</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>class</key>
				<string>YXPopupView</string>
				<key>parameter</key>
				<dict>
					<key>background</key>
					<string>国外.png</string>
					<key>button</key>
					<string>detail_p1011_button.png</string>
					<key>x</key>
					<string>70</string>
					<key>y</key>
					<string>627</string>
					<key>content</key>
					<string></string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Seq</key>
		<integer>1012</integer>
		<key>picarray</key>
		<array>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1012_pic1.jpg</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>0</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Seq</key>
		<integer>1013</integer>
		<key>picarray</key>
		<array>
			<dict>
				<key>class</key>
				<string>YXBigImageView</string>
				<key>parameter</key>
				<dict>
					<key>image</key>
					<string>detail_p1013_pic1.jpg</string>
					<key>x</key>
					<string>0</string>
					<key>y</key>
					<string>0</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
